body {
  font-family: sans-serif;
}
.hidden {
  display: none;
}
.set {
  z-index: -100;
  height: 100vw;
  position: fixed;
  margin-top: -30%;
  margin-left: -20px;
  overflow: hidden;
}
#center {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
#clock {
  font-size: 8em;
}
li {list-style: none;}

